@{
    ViewData["Title"] = "About Techy Tease";
}
<h1>@ViewData["Title"]</h1>

<p>Techy tease is a blogging platform, Where users share their experiences about tech.</p>
<p>Developed by Khothatso Ramotholo</p>
<div class="contact">
    <h2>Contact Us</h2>
    <p>Email: <a href="mailto:Khothatsoramotholo@gmail.com">Khothatsoramotholo@gmail.com</a></p>
    <p>Linkedin: <a href=" https://www.linkedin.com/in/khothatso-ramotholo-57a843164/"> https://www.linkedin.com/in/khothatso-ramotholo-57a843164/</a></p>
</div>