@{
    ViewData["Title"] = "Home Page";
}
<div class="intro">
    <div class="Info">
                <div class="text">
                <h1>Publish your passions, <br><span>Your way</span></h1>
                <p>Sharing your obsessions might be a way to make yourself feel better. <br/>
                so what are you waiting for?</p>
                <button class="btn3">Get Started</button>
                </div>
    </div>
</div>